/* CSS untuk animasi popup */
.modal.fade .modal-dialog {
    transform: translateY(-50%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

.modal.fade.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}
